#tie-header {
  letter-spacing: 30px;
  font-family: neuzeit-grotesk-condensed;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
}

#h2-container {
  text-align: center;
  margin-inline-start: 28%;
}

h2 {
  font-family: Playfair Display;
  letter-spacing: 1px;
  max-width: 40vw;
  text-align: center;
  color: grey;
}

a {
  text-decoration: none;
}

#foot {
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid rgba(23, 51, 67, 0.34);
  font-family: Playfair Display;
  letter-spacing: 1px;
  color: rgba(23, 51, 67, 0.34);
  position: static;

  -webkit-transition: color 0.20s ease-in-out;
  -moz-transition: color 0.20s ease-in-out;
  -ms-transition: color 0.20s ease-in-out;
  -o-transition: color 0.20s ease-in-out;
  transition: color 0.20s ease-in-out;
}

#foot:hover {
  color: rgba(23, 51, 67, 0.74);
  text-decoration: none;
  -webkit-transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

#foot-container {
  padding-top: 10em;
  cursor: pointer;
}

i {
  line-height: 2.2;
}

button {
  box-shadow: 0px 0px 24px ;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  opacity: 0.7;
  color: rgba(23, 51, 67, 0.24);
  letter-spacing: 1px;
  text-align: center;
  border: none;

  -webkit-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
}

button:hover {
  opacity: 1;
  box-shadow: 0px 0px 24px rgba(23, 51, 67, 0.28);
  color: rgba(23, 51, 67, 0.34);
  cursor: pointer;

  -webkit-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
}

button:focus {
  outline: none !important;
}

#phraseButton {
  margin-right: 1vw;
  font-family: neuzeit-grotesk-condensed;
  font-weight: 400;
  font-style: normal;
}

#bulletinButton {
  margin-left: 1vw;
  font-family: neuzeit-grotesk-condensed;
  font-weight: 400;
  font-style: normal;
}

@font-face {
   font-family: bebasneue_bold;
   src: url('./fonts/Bebas/bebasneue_bold-webfont.woff');
}

@media screen and (max-width: 600px) {
  #tie-header {
    letter-spacing: 15px;
    font-family: neuzeit-grotesk-condensed;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
  }
  #h2-container {
    margin-inline-start: 0%;
  }
  i {
    width: 70%;
  }
  #foot-container {
    padding-top: 2em;
  }
  h2 {
    max-width: 80vw;
  }
}
