#tie-header {
  letter-spacing: 40px;
  font-family: bebasneue_bold;
  font-size: 130px;
}

#h2-container {
  text-align: center;
  width: 100%;
  left: 50%;
  margin-inline-start: 28%;
}

h2 {
  font-family: Playfair Display;
  letter-spacing: 1px;
  max-width: 40vw;
  text-align: center;
  color: grey;
}

i {
  line-height: 2.2;
}

.button {
  box-shadow: 0px 0px 24px rgba(23, 51, 67, 0.14);
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: rgba(23, 51, 67, 0.44);
  font-family: bebasneue_bold;
  letter-spacing: 3px;
  text-align: center;
}

@font-face {
   font-family: bebasneue_bold;
   src: url('./fonts/Bebas/bebasneue_bold-webfont.woff');
}
